# gitignore for the OpenOLAT Rmdfiles project

## Editors:
# WinEdt and vim
*.bak
*.sav
*.prj

*~
*.un~

# Folders with binaries and not versioned files
# We do not version the bitmaps!
images/

# Kartenmaterial
karten/
# RStudio
.Rproj-user/

## Rmd files
# HTML from Rmd is not versioned!
**/*.html
# Ignore R files
**/.Rhistory
# Ignore markdown output for the Github-Example
*.md
# README.md nicht ignorieren
!README.md
exampleGithub_files/

# Shiny example
**/Example/
# Daten ignorieren, das sind Kopien!
data/
.Rproj.user

# Cache für eurostat
eurostat*_cache/*
